export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

alias ll='ls -alFh'
alias la='ls -A'
alias l='ls -CF'

if [ -f `brew --prefix`/etc/bash_completion ]; then
    . `brew --prefix`/etc/bash_completion
fi

# https://github.com/clvv/fasd
eval "$(fasd --init auto)"

# thefuck
eval $(thefuck --alias)

# display git branches in prompt
function prompt_command() {
    PS1='\[\033[01;32m\]\u\[\033[01;34m\] \w\[\033[31m\]$(__git_ps1 " (%s)")\[\033[01;34m\]$\[\033[00m\] '
}
PROMPT_COMMAND=prompt_command

export JAVA_HOME=/Library/Java/JavaVirtualMachines/latest/Contents/Home

export GROOVY_HOME=/usr/local/opt/groovy/libexec
export M2_HOME=/usr/local/opt/maven/libexec
export GRADLE_HOME=/usr/local/opt/gradle/libexec
export GRADLE_OPTS=-Dfile.encoding=utf-8

eval "$(docker-machine env)"
export DOCKER_HOSTNAME=$(echo "$DOCKER_HOST" | sed -E 's|(.*//)?([^/:]*).*|\2|g')
export DOCKER_IP=$(echo "$DOCKER_HOST" | sed -E 's|(.*//)?([^/:]*).*|\2|g')

export CONFIG_SERVER_REPO=/Users/{{ ansible_env.DEV_USERNAME }}/dev/git/ng/ng-config-repo
export SPRING_CLOUD_CONFIG_URI=http://${DOCKER_IP}:8888

export PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

# docker
alias dclean-images='docker images -qf "dangling=true" | xargs docker rmi -f'
alias dclean-dangling='docker volume ls -qf "dangling=true" | xargs docker volume rm'
alias dclean-exited='docker rm -v $(docker ps -a -q -f status=exited)'

# gcloud
source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.bash.inc'
source '/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.bash.inc'
