# http://stackoverflow.com/questions/135688/setting-environment-variables-in-os-x
#
# Set environment variables here so they are available globally to all apps
# (and Terminal), including those launched via Spotlight.
#
# After editing this file run the following command from the terminal to update
# environment variables globally without needing to reboot.
# NOTE: You will still need to restart the relevant application (including
# Terminal) to pick up the changes!
# grep -E "^setenv" /etc/launchd.conf | xargs -t -L 1 launchctl
#
# See http://www.digitaledgesw.com/node/31
# and http://stackoverflow.com/questions/135688/setting-environment-variables-in-os-x/
#
# Note that you must hardcode the paths below, don't use enviroment variables.
# You also need to surround multiple values in quotes, see MAVEN_OPTS example below.
#

setenv JAVA_HOME /Library/Java/JavaVirtualMachines/latest/Contents/Home
setenv GROOVY_HOME /usr/local/opt/groovy/libexec

setenv M2_HOME /usr/local/opt/maven/libexec
setenv GRADLE_HOME /usr/local/opt/gradle/libexec
setenv GRADLE_OPTS -Dfile.encoding=utf-8
